body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
}

#welcome, #chatRoom {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

#chatRoom {
    display: none;
}

input[type="text"], input[type="number"], button {
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#chatArea {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

#chatArea div {
    margin-bottom: 5px;
}

#chatArea strong {
    color: #4caf50;
}
